<footer class="site-footer">
<div class="footer-content">
<h3>ADP TCG</h3>
<p class="slogan">Your place for all Pokémon card needs!</p>


<div class="footer-links">
<a href="https://www.instagram.com/adptcg/" target="_blank">Instagram</a>
<span> | </span>
<a href="mailto:adptcg61@gmail.com">Email Us</a>
<span> | </span>
<a href="tel:7046985160">Call: 704-698-5160</a>
</div>
</div>
<br><br>
<a href="https://validator.w3.org/check?uri=referer">HTML Validator</a>
        <span> | </span>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">CSS Validator</a>
</footer>
        