<h1>Parth Parmar's Pissing Pangolin || ITIS 3135</h1>
        <nav>
            <a href="./">Home</a> 
            ||
            <a href="introduction.html">Introduction</a> 
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="whimsical_company/index.html">Mascot Company</a>
            ||
            <a href="stuff/beStweBsi%26e.htm">CRAPpy SIte</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="fccfsjs_outline.html">FCC Full Stack JS Outline</a>
            ||
            <a href="hobby/index.html">Hobby Site</a>
        </nav>
        <br>